body {
  margin: 0;
  font-family: "roboto", sans-serif !important;
}

.navcolordc {
  background-color: rgb(83, 81, 81);
}

.deadhorse {
  width: 100%;
  height: 100vh;
  background: url("./images/background.jpg");
  background-position: center 50px;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.deadhorse h1 {
  line-height: 6rem;
  letter-spacing: 0.8rem;
  color: rgba(255,255,255,8);
}

.deadhorse h2 {
  line-height: 2.5rem;
  letter-spacing: 0.5rem;
  color: rgba(255,255,255,0.8);
  padding-bottom: 3rem
}

.mybtn-white {
  border: 2px solid rgba(255,255,255,0.7);
  background-color: transparent;
}